@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: small;
  max-width: 1000px;
  padding: 10px 15px;
  color: #333333;
  background-color: #ffffff;
}

p {
  margin-left: 1em;
  margin-bottom: 25px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.7em;

  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #1a1a1a;
  line-height: 30px;
  margin: 50px 0 20px;
  padding-left: 10px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em;
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #999999;
}

h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

table {
  border-collapse: collapse;
  margin-left: 1em;
  margin-bottom: 25px;
  display: inline-block;
}

th {
  color: #005ab3;
}

td {
  border-bottom: 1px dashed #999;
}

th,
tr:last-child td {
  border-bottom: 2px solid #005ab3;
}

td,
th {
  padding: 10px;
}

table tr:hover {
  background-color: #f7f7f7;
}
